@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

.container.py5.h100 {
    margin-top: 10px;
}

body {
    background-size: cover;

}

body::after {
    content: "";
    background: url('/static/images/background.jpeg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
